body{
    background-color: #ffffff;
}

#middle_bar{
    background:#FFE036;
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size:16px;text-decoration:none;
    color: #ffffff;
    /*margin-top: 5px;*/
    z-index: 20;
    /*position: relative;*/
    /*top: 340px;;*/
    /*要怎样才能...垂直,依次,布局呢??*/
    float: left;
    padding-top: 4px;

}

#middle_bar p{
    margin: 0;
}

.navbar{
    background: #88D7F4;
}
.bottom{
    bottom:0; left:0; width:100%;
}
.bottom-item{
    width:33.33%;
    height:90px;
    color: #ffffff;
    background: #425665;
    float: left;
    text-align: center;

}

.bottom_top_text  p{
    font-size: 13px;
    margin-top: 6px;

}

.bottom_middle_text  p{
    font-size: 25px;
    margin-top: -8px;

}

.bottom_bottom_text  p{
    font-size: 13px;
    margin-top: -27px;

}
.AUDIO{
    height: 122px;
    background: #ffffff;
}

.picker_item{
    float: left;
    width: 33.33%;
}

.threeBottomPicker{
    position: fixed;
    z-index: 0;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

/*#swiper01{*/
    /*height: 160px;*/
    /*background-color: #1a1a1a;*/
    /*width: 33.3%;*/
    /*overflow: hidden;*/
/*}*/

/*.swiper-container1{*/
    /*overflow: hidden;*/
    /*width: 80px;*/
/*}*/

.distract01{
    position: relative;
width: 50%;
    float: left;
    height: 31px;
    /*border: 1px solid #000000;*/
    margin: 6px 7px 0 0;
}


.distract02{
    position: relative;
float: left;
    width: 40%;
height: 30px;
    /*border: 1px solid #000000;*/
    margin: 3px 7px 0 0;

}



@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    /*iphone 6*/

    .tableDotDiv{width: 100%;background-color: #ffffff;height: 233px;}

    .swiper-button-next, .swiper-button-prev{
        top: 50%;
    }


    .swiper-container1 {
        margin: -5px 0px;
        width: 33.3%;
        /*margin-left: -10px;*/
        height: 180px;
        /*position: fixed;*/
        float: left;
        overflow: hidden;
        font-size:16px;text-decoration:none;
    }

    .swiper-container3 {
        margin: -5px 0px;
        /*margin-left: -10px;*/
        width: 33.3%;
        height: 180px;
        /*position: fixed;*/
        float: left;
        overflow: hidden;
    }



    .swiper-container2 {
        margin: -5px 0px;
        /*margin-left: -10px;*/
        width: 33.3%;
        height: 180px;
        /*position: fixed;*/
        float: left;
        overflow: hidden;
    }



    .swiper-slide .title {
        width: 50px;
        /*font-style: italic;*/
        font-size: 19px;
        margin-bottom: 0;
        line-height: 35px;
    }

    #piechart{
        padding: 32px 0 0 119px;
    }
}


@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){

    .tableDotDiv{width: 100%;background-color: #ffffff;height: 259px;}
    .swiper-button-next, .swiper-button-prev{
        top: 49%;
    }

    .swiper-container1 {
        font-size:16px;text-decoration:none;
        margin: 9px 0px;
        width: 33.3%;
        /*margin-left: -10px;*/
        height: 180px;
        /*position: fixed;*/
        float: left;
        overflow: hidden;
    }

    .swiper-container3 {
        margin: 9px 0px;
        /*margin-left: -10px;*/
        width: 33.3%;
        height: 180px;
        /*position: fixed;*/
        float: left;
        overflow: hidden;
    }


    .swiper-container2 {
        margin: 9px 0px;
        /*margin-left: -10px;*/
        width: 33.3%;
        height: 180px;
        /*position: fixed;*/
        float: left;
        overflow: hidden;
    }

    .swiper-slide .title {
        width: 50px;
        /*font-style: italic;*/
        font-size: 21px;
        margin-bottom: 0;
        line-height: 35px;
    }

    #piechart{
        position: absolute;
        padding: 37px 0 0 134px;
    }

}


.models_ul li{
    list-style: none
}


/*#brand{*/
    /*letter-spacing: 30px;*/

/*}*/



